In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import random

In [20]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [21]:
from sklearn.model_selection import train_test_split
X = df.drop(columns='species')
y= df.species

In [6]:
X

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [7]:
list(df)

['sepal_length', 'sepal_width', 'petal_length', 'petal_width', 'species']

In [22]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [23]:
X_train, X_test

(     sepal_length  sepal_width  petal_length  petal_width
 96            5.7          2.9           4.2          1.3
 105           7.6          3.0           6.6          2.1
 66            5.6          3.0           4.5          1.5
 0             5.1          3.5           1.4          0.2
 122           7.7          2.8           6.7          2.0
 ..            ...          ...           ...          ...
 71            6.1          2.8           4.0          1.3
 106           4.9          2.5           4.5          1.7
 14            5.8          4.0           1.2          0.2
 92            5.8          2.6           4.0          1.2
 102           7.1          3.0           5.9          2.1

 [100 rows x 4 columns],
      sepal_length  sepal_width  petal_length  petal_width
 73            6.1          2.8           4.7          1.2
 18            5.7          3.8           1.7          0.3
 118           7.7          2.6           6.9          2.3
 78            6.0          2.9           4.5          1.5
 76            6.8          2.8           4.8          1.4
 31            5.4          3.4           1.5          0.4
 64            5.6          2.9           3.6          1.3
 141           6.9          3.1           5.1          2.3
 68            6.2          2.2           4.5          1.5
 82            5.8          2.7           3.9          1.2
 110           6.5          3.2           5.1          2.0
 12            4.8          3.0           1.4          0.1
 36            5.5          3.5           1.3          0.2
 9             4.9          3.1           1.5          0.1
 19            5.1          3.8           1.5          0.3
 56            6.3          3.3           4.7          1.6
 104           6.5          3.0           5.8          2.2
 69            5.6          2.5           3.9          1.1
 55            5.7          2.8           4.5          1.3
 132           6.4          2.8           5.6          2.2
 29            4.7          3.2           1.6          0.2
 127           6.1          3.0           4.9          1.8
 26            5.0          3.4           1.6          0.4
 128           6.4          2.8           5.6          2.1
 131           7.9          3.8           6.4          2.0
 145           6.7          3.0           5.2          2.3
 108           6.7          2.5           5.8          1.8
 143           6.8          3.2           5.9          2.3
 45            4.8          3.0           1.4          0.3
 30            4.8          3.1           1.6          0.2
 22            4.6          3.6           1.0          0.2
 15            5.7          4.4           1.5          0.4
 65            6.7          3.1           4.4          1.4
 11            4.8          3.4           1.6          0.2
 42            4.4          3.2           1.3          0.2
 146           6.3          2.5           5.0          1.9
 51            6.4          3.2           4.5          1.5
 27            5.2          3.5           1.5          0.2
 4             5.0          3.6           1.4          0.2
 32            5.2          4.1           1.5          0.1
 142           5.8          2.7           5.1          1.9
 85            6.0          3.4           4.5          1.6
 86            6.7          3.1           4.7          1.5
 16            5.4          3.9           1.3          0.4
 10            5.4          3.7           1.5          0.2
 81            5.5          2.4           3.7          1.0
 133           6.3          2.8           5.1          1.5
 137           6.4          3.1           5.5          1.8
 75            6.6          3.0           4.4          1.4
 109           7.2          3.6           6.1          2.5)

In [14]:
X_test

array([[2, 3],
       [8, 9]])

In [24]:
y_train, y_test

(96     versicolor
 105     virginica
 66     versicolor
 0          setosa
 122     virginica
           ...
 71     versicolor
 106     virginica
 14         setosa
 92     versicolor
 102     virginica
 Name: species, Length: 100, dtype: object,
 73     versicolor
 18         setosa
 118     virginica
 78     versicolor
 76     versicolor
 31         setosa
 64     versicolor
 141     virginica
 68     versicolor
 82     versicolor
 110     virginica
 12         setosa
 36         setosa
 9          setosa
 19         setosa
 56     versicolor
 104     virginica
 69     versicolor
 55     versicolor
 132     virginica
 29         setosa
 127     virginica
 26         setosa
 128     virginica
 131     virginica
 145     virginica
 108     virginica
 143     virginica
 45         setosa
 30         setosa
 22         setosa
 15         setosa
 65     versicolor
 11         setosa
 42         setosa
 146     virginica
 51     versicolor
 27         setosa
 4          setosa
 32         setosa
 142     virginica
 85     versicolor
 86     versicolor
 16         setosa
 10         setosa
 81     versicolor
 133     virginica
 137     virginica
 75     versicolor
 109     virginica
 Name: species, dtype: object)

In [16]:
y_test

[1, 4]

In [17]:
df.shape

(150, 5)

In [18]:
df.set_index

<bound method DataFrame.set_index of      sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]>

In [19]:
set(df)

{'petal_length', 'petal_width', 'sepal_length', 'sepal_width', 'species'}

In [25]:
X_train.head()

     sepal_length  sepal_width  petal_length  petal_width
96            5.7          2.9           4.2          1.3
105           7.6          3.0           6.6          2.1
66            5.6          3.0           4.5          1.5
0             5.1          3.5           1.4          0.2
122           7.7          2.8           6.7          2.0

In [26]:
X_test.head()

     sepal_length  sepal_width  petal_length  petal_width
73            6.1          2.8           4.7          1.2
18            5.7          3.8           1.7          0.3
118           7.7          2.6           6.9          2.3
78            6.0          2.9           4.5          1.5
76            6.8          2.8           4.8          1.4

In [27]:
set(X_train.index) & set(X_test.index)

set()

In [28]:
set(y_train.index) & set(y_test.index)

set()