In [19]:
import numpy as np
import pandas as pd

In [20]:
users = [
    {"name": "Bob", "age": 24, "favorite_food": "ice cream"},
         {"name": "John", "age": 22, "favorite_food": "hummus"},
         {"name": "Mary", "age": None, "favorite_food": "chocolate"},
         {"name": "Michelle", "age": 27, "favorite_food": "pasta"},
         {"name": "Woody", "age": 47, "favorite_food": "nachos"},
         {"name": "Jorje", "age": 30, "favorite_food": "pita"},
         {"name": "John", "age": 12, "favorite_food": None}
        ]

In [21]:
df = pd.DataFrame(users)

In [22]:
df

       name   age favorite_food
0       Bob  24.0     ice cream
1      John  22.0        hummus
2      Mary   NaN     chocolate
3  Michelle  27.0         pasta
4     Woody  47.0        nachos
5     Jorje  30.0          pita
6      John  12.0          None

In [23]:
df.shape

(7, 3)

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 3 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           7 non-null      object
 1   age            6 non-null      float64
 2   favorite_food  6 non-null      object
dtypes: float64(1), object(2)
memory usage: 296.0+ bytes

In [25]:
df.head()

       name   age favorite_food
0       Bob  24.0     ice cream
1      John  22.0        hummus
2      Mary   NaN     chocolate
3  Michelle  27.0         pasta
4     Woody  47.0        nachos

In [26]:
df = pd.read_csv('https://raw.githubusercontent.com/mwaskom/seaborn-data/master/iris.csv')

In [29]:
df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [28]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [30]:
dic = {"name": "Bob", "age": 24, "favorite_food": "ice cream"}

In [31]:
dic["name"]

'Bob'

In [ ]:
loc iloc

In [ ]:
df["species"].unique()

In [41]:
df["species"].value_counts()

setosa        50
virginica     50
versicolor    50
Name: species, dtype: int64

In [39]:
df.loc[2]

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

In [43]:
1 == 2

False

In [44]:
df["species"] == "setosa"

0       True
1       True
2       True
3       True
4       True
       ...
145    False
146    False
147    False
148    False
149    False
Name: species, Length: 150, dtype: bool

In [46]:
df["sepal_length"] < 5

0      False
1       True
2       True
3       True
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Name: sepal_length, Length: 150, dtype: bool

In [ ]:
and or

In [ ]:
& |

In [47]:
(df["species"] == "setosa") & (df["sepal_length"] < 5)

0      False
1       True
2       True
3       True
4      False
       ...
145    False
146    False
147    False
148    False
149    False
Length: 150, dtype: bool

In [48]:
df[   (df["species"] == "setosa") & (df["sepal_length"] < 5)   ]

    sepal_length  sepal_width  petal_length  petal_width species
1            4.9          3.0           1.4          0.2  setosa
2            4.7          3.2           1.3          0.2  setosa
3            4.6          3.1           1.5          0.2  setosa
6            4.6          3.4           1.4          0.3  setosa
8            4.4          2.9           1.4          0.2  setosa
9            4.9          3.1           1.5          0.1  setosa
11           4.8          3.4           1.6          0.2  setosa
12           4.8          3.0           1.4          0.1  setosa
13           4.3          3.0           1.1          0.1  setosa
22           4.6          3.6           1.0          0.2  setosa
24           4.8          3.4           1.9          0.2  setosa
29           4.7          3.2           1.6          0.2  setosa
30           4.8          3.1           1.6          0.2  setosa
34           4.9          3.1           1.5          0.2  setosa
37           4.9          3.6           1.4          0.1  setosa
38           4.4          3.0           1.3          0.2  setosa
41           4.5          2.3           1.3          0.3  setosa
42           4.4          3.2           1.3          0.2  setosa
45           4.8          3.0           1.4          0.3  setosa
47           4.6          3.2           1.4          0.2  setosa

In [53]:
df.sort_values(by=["species", "sepal_length"], ascending=[False, False])

     sepal_length  sepal_width  petal_length  petal_width    species
131           7.9          3.8           6.4          2.0  virginica
117           7.7          3.8           6.7          2.2  virginica
118           7.7          2.6           6.9          2.3  virginica
122           7.7          2.8           6.7          2.0  virginica
135           7.7          3.0           6.1          2.3  virginica
..            ...          ...           ...          ...        ...
41            4.5          2.3           1.3          0.3     setosa
8             4.4          2.9           1.4          0.2     setosa
38            4.4          3.0           1.3          0.2     setosa
42            4.4          3.2           1.3          0.2     setosa
13            4.3          3.0           1.1          0.1     setosa

[150 rows x 5 columns]

In [62]:
df.groupby("species").agg(["sum", "median"])

           sepal_length        sepal_width        petal_length         \
                    sum median         sum median          sum median
species
setosa            250.3    5.0       171.4    3.4         73.1   1.50
versicolor        296.8    5.9       138.5    2.8        213.0   4.35
virginica         329.4    6.5       148.7    3.0        277.6   5.55

           petal_width
                   sum median
species
setosa            12.3    0.2
versicolor        66.3    1.3
virginica        101.3    2.0

## Exercise solutions

In [63]:
df.iloc[50]

sepal_length             7
sepal_width            3.2
petal_length           4.7
petal_width            1.4
species         versicolor
Name: 50, dtype: object

In [65]:
df.iloc[50:60:2][ ["species", "petal_length", "petal_width"] ]

       species  petal_length  petal_width
50  versicolor           4.7          1.4
52  versicolor           4.9          1.5
54  versicolor           4.6          1.5
56  versicolor           4.7          1.6
58  versicolor           4.6          1.3

In [68]:
df.groupby("species").agg(["sum", "mean"])

           sepal_length        sepal_width        petal_length         \
                    sum   mean         sum   mean          sum   mean
species
setosa            250.3  5.006       171.4  3.428         73.1  1.462
versicolor        296.8  5.936       138.5  2.770        213.0  4.260
virginica         329.4  6.588       148.7  2.974        277.6  5.552

           petal_width
                   sum   mean
species
setosa            12.3  0.246
versicolor        66.3  1.326
virginica        101.3  2.026

In [10]:
ser = pd.Series({"a": 1, "b":2, "c":3})
ser

a    1
b    2
c    3
dtype: int64

In [15]:
ser[1]

2

In [16]:
series = pd.Series(['01 Jan 2020', '10-19-2020', '20150303', '2013/04/04', '2012-05-05', '2013-06-06T12:20'])

In [18]:
pd.to_datetime(series).dt.

0   2020-01-01 00:00:00
1   2020-10-19 00:00:00
2   2015-03-03 00:00:00
3   2013-04-04 00:00:00
4   2012-05-05 00:00:00
5   2013-06-06 12:20:00
dtype: datetime64[ns]