In [1]:
#from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#from sklearn.linear_model import LinearRegression
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, confusion_matrix
#from sklearn.metrics import mean_absolute_error, mean_squared_error
#import seaborn as sns

In [11]:
titanic_df = pd.read_csv('https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv').dropna()
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [12]:
X = titanic_df._get_numeric_data().drop(columns="Survived")
y = titanic_df.Survived

In [13]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

In [14]:
clf = LogisticRegression()
clf.fit(X_train, y_train)

/Users/xtreemtg888/anaconda3/lib/python3.6/site-packages/sklearn/linear_model/_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [16]:
y_test

340    1
390    1
209    1
341    1
177    0
712    1
54     0
248    1
370    1
66     1
102    0
174    0
269    1
867    0
516    1
473    1
887    1
245    0
796    1
462    0
632    1
434    0
871    1
585    1
763    1
621    1
707    1
377    0
394    1
110    0
27     0
609    1
536    0
23     1
618    1
484    1
331    0
215    1
806    0
587    1
292    0
496    1
781    1
92     0
779    1
251    0
Name: Survived, dtype: int64

In [17]:
y_pred = clf.predict(X_test)
y_pred

array([1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0])

In [18]:
confusion_matrix(y_test, y_pred)

array([[ 4, 13],
       [ 1, 28]])

In [19]:
tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

In [23]:
accuracy_score(y_test, y_pred)

0.6956521739130435

In [25]:
acc = (tp + tn) / (tn +  fp + fn + tp)
acc

0.6956521739130435

In [26]:
prec = tp / (tp + fp)
prec

0.6829268292682927

In [27]:
rec = tp / (tp + fn)
rec

0.9655172413793104